<main class="flexContainer">

   <div id="checklistContainer">

   	<h2>The Hunt List</h2>
   		<div id="displayChecklist" class="mCustomScrollbar">
		    <ul>
		        {{#each this.loc}}
		        <li>
		          <div class="checklistItem">
		            <div class="itemInfo">
		                <h4 class="clName">{{this.name}} <span><a class="clWebsite" target="_blank" href="http://{{this.website}}">Website</a></span></h4>
		                <p class="clAddress">{{this.address}}</p>


		            </div>
		            <a class="seeReviewsButton" data-toggle="collapse" data-target="#reviewbox{{this.id}}">See What Other Hunters Are Saying!</a>
		            <div class="checkboxWrapper">
		                <a href="/rating?location_id={{this.id}}"><div class="check"></div></a>
		            </div>
		            </div>
		            {{!-- {{dataValues.name}} --}}
		        </li>

		        <div id="reviewbox{{this.id}}" class="collapse">
		        	<div class="reviewDropDown">
		        		{{#each this.userRatings}}
							<p>Review: {{this.review}}</p>
							<p>Notes: {{this.notes}}</p>
							<p>Rating: <span class="stars" data-rating= "{{this.rating}}" data-num-stars="5" ></span></p>
							<p>User: {{this.username}}</p>
						{{/each}}
					</div>
		       	</div>
		        {{/each}}

		    </ul>
    	</div>
	</div>

<div class="right-wrapper">

<div class="sidebars-container">

 <aside id="badgesContainer">
 	<h2>Your Badges</h2>
   <div id="badgeItems">
		 <img src="http://placehold.it/75x75" data-tilt>
		 <img src="http://placehold.it/75x75" data-tilt>
		 <img src="http://placehold.it/75x75" data-tilt>
		 <img src="http://placehold.it/75x75" data-tilt>

	</div>
 </aside>

 <aside id="leaderboardContainer">
 <h2>Top Users</h2>
   <div id="leaderboardItems">

     <h1>TESTING</h1>
     {{#each this.leaderboard}}


     {{/each}}

   </div>
 </aside>

 </div>


 <article id="userReviewsContainer">

<h2>Your Notes and Reviews</h2>
<div id="displayReviews">
<ul>

{{#each this.loc}}

<li>
<div class="checklistItem">
<div class="itemInfo">
<h4 class="clName">{{this.name}} <span><a class="clWebsite" target="_blank" href="http://{{this.website}}">Website</a></span></h4>

<!-- {{#each this.userRatings}}
<p>Review: {{this.review}}</p>
<p>Notes: {{this.notes}}</p>
<p>Rating: <span class="stars" data-rating= "{{this.rating}}" data-num-stars="5" ></span></p>
<p>User: {{this.username}}</p>
{{/each}}
 -->
</div>
</div>
</li>
{{/each}}

</ul>
</div>
</article>
</div>


</main>
