<!-- <div id="dashboard">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h2>Dashboard</h2>
  <h5>Hurray! you are logged in as {{this.username}}</h5>
</div>

  
       {{!-- <h1>First Item:{{[0].dataValues.name}}</h1> --}}
       <h1>{{loc}}</h1> -->
 
	

 	<main class="flexContainer">
	
	
	
		<!-- <h3>You are logged in as {{user.username}}.</h3> -->
	
		
		<!-- {{>loggedIn}} -->


       <div id="checklistContainer">    	
        <ul>
            
            {{#each this.loc}}
            <li>
            	<div class="checklistItem">
            		<div class="itemInfo">
		                <h4 class="clName">{{this.name}} <span><a class="clWebsite" target="_blank" href="http://{{this.website}}">Website</a></span></h4>
		                <p class="clAddress">{{this.address}}</p>
		            </div>
		            <div class="checkboxWrapper">   
		                <a href="#" data-id="{{this.id}}"><div class="check" data-id="{{this.id}}"></div></a>
		            </div>
                </div>
                {{!-- {{dataValues.name}} --}}
            </li>
            {{/each}}
            
        </ul>
        </div>

   <div class="right-wrapper">

	<div class="sidebars-container">

        <aside id="badgesContainer">
        	<div id="badgeItems">
				<img src="http://placehold.it/75x75" data-tilt>
				<img src="http://placehold.it/75x75" data-tilt>
				<img src="http://placehold.it/75x75" data-tilt>
				<img src="http://placehold.it/75x75" data-tilt>
				<img src="http://placehold.it/75x75" data-tilt>
			
			</div>
        </aside>

        <aside id="leaderboardContainer">
        	<div id="leaderboardItems">

        		<h1>TESTING</h1>
        		{{#each this.leaderboard}}
					

        		{{/each}}

        	</div>
        </aside>

       	</div>


       	<article id="userReviewsContainer">
	<div id="displayReviews">
	<ul>
		
            {{#each this.loc}}

            <li>
            <div class="checklistItem">
            	<div class="itemInfo">
					 <h4 class="clName">{{this.name}} <span><a class="clWebsite" target="_blank" href="http://{{this.website}}">Website</a></span></h4>

					 <p>{{this.review.rating}}</p>
					 <p>{{this.loc.review}}</p>
					
					 <p>Ranchero Ranchero Cod Monterey Jack Sour Cream Pork Hamburger Tomato Pinto Beans Red Pepper Queso Blanco Tomato Tomato Bacon Corn Eggs Guacamole Asadero Pepper Whole Wheat Tortilla Steak Guacamole</p>

            	</div>
			</div>
			</li>
		{{/each}}
		
	</ul>
	</div>
</article>
    </div>


	</main>



